Server:                                     # MideWarp配置
  Host:                                     # MideWarp监听IP（留空代表监听所有网卡，默认留空即可）
  Port: 9000                                # MideWarp监听端口

LoggerSetting:                              # 日志设定
  Enable: True                              # 是否启用日志文件记录
  AccessLogger:                             # 访问日志设定
    Enable: True                            # 是否启用访问日志文件记录
  ServiceLogger:                            # 服务日志设定
    Enable: True                            # 是否启用服务日志文件记录

Origin: http://127.0.0.1:8096               # 上游Emby服务器地址
ApiKey: 2eaxxxxxxxxxa8                      # 上游Emby服务器API KEY

Static:                                     # 是否开启静态资源路由（访问URI /MediaWarp/Static将返回static下的资源）
  Enable: True

ClientFilter:                               # 客户端过滤器
  Enable: False                             # 是否启用客户端过滤器
  Mode: BlackList # WhileList / BlackList   # 黑白名单模式
  ClientList:                               # 名单列表
    - Fileball
    - Infuse

# 302重定向相关配置
HttpStrm:
  Enable: True                              # 是否开启HttpStrm重定向
  PrefixList:                               # EmbyServer中Strm文件的前缀（符合该前缀的Strm文件且被正确识别为http协议都会路由到该规则下）
    - /media/strm/http
    - /media/strm/https
AlistStrm:                                  # AlistStrm相关配置（Strm文件内容是Alist上文件的路径，目前仅支持适配Alist V3）
  Enable: True                              # 是否启用AlistStrm重定向
  List:                                     # 访问列表
    - Prefix: /media/strm/MyAlist           # EmbyServer中Strm文件的前缀（符合该前缀的Strm文件都会路由到该规则下）
      AlistServer:                          # Alist服务器相关配置
        URL: http://192.168.1.100:5244      # Alist服务器地址（MediaWarp可以正常访问到就可以）
        Username: admin                     # Alist服务器账号
        Password: adminadmin                # Alist服务器密码
    - Prefix: /media/strm/xiaoya            # 可以填写多个配置
      AlistServer:                          
        URL: https://xiaoya.com
        Username: admin
        Password: adminadmin