/* 搜索页面---------------------------------------------*/
/*【搜索界面】搜索输入框添加圆角样式*/
input.searchfields-txtSearch {
    padding: 0.6em;
    padding-left: 1em;
    border-radius: 30px;
}

/*【搜索界面】猜您喜欢使用平铺样式*/
.searchSuggestionsList div {
    display: inline-block;
}

/*【搜索界面】猜您喜欢添加底色背景样式*/
.searchSuggestionsList a {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    margin: 5px;
    font-size: 90%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.9);
}

/* 媒体库内------------------------------------------------- */
/*【媒体库内】屏蔽按标题名称排序右侧导航栏*/
.alphaPicker.alphaPicker-vertical {
    display: none;
}

/*【媒体库内】即将播出栏目改为完全显示无需滑动*/
@media not all and (min-width: 50em) {
    .upcomingContainer .backdropCard.card-hoverable {
        width: 50%;
    }
}

.upcomingContainer .itemsContainer {
    display: flex;
    flex-wrap: wrap;
}

/* 节目界面----------------------------------------------------- */
/*【节目界面】背景图片提高遮罩亮度并使背景图片模糊化*/
@media all and (min-width: 50em) {
    .backgroundContainer.itemBackgroundContainer.itemBackgroundContainer-preventbackdrop.withBackdrop {
        background: linear-gradient(77deg,
                rgba(0, 0, 0, 0.7) -20%,
                rgba(0, 0, 0, 0.6) -50%,
                rgba(0, 0, 0, 0.3) 100%) !important;
        opacity: 1;
    }

    .backdropContainer.backdropContainer-preventbackdrop {
        transform: scale(1.05);
        filter: blur(1.8em) saturate(1.3);
    }
}

/*【节目界面】背景图片提高遮罩亮度后的简介文字阴影和折叠显示行数*/
@media all and (min-width: 50em) {
    .overview-text.readOnlyContent {
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.91);
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }

    .layout-tv.noScrollY .overview-text.readOnlyContent {
        -webkit-line-clamp: 2;
        line-clamp: 2;
        line-height: 1.46em;
    }
}

/*【节目界面】背景图片提高遮罩亮度后的剧集简介文字不透明度*/
.listItem-overview.listItemBodyText,
.layout-tv .listItem-overview.listItemBodyText {
    color: rgba(255, 255, 255, 0.92);
}

/*【节目界面】全局使用圆角样式和选中状态使用圆角样式*/
.scrollFrameY .cardImageContainer,
.scrollFrameY .cardOverlayContainer,
.scrollFrameY .listItemImage {
    contain: layout;
    border-radius: 0.75em;
}

/*【节目界面】艺术家和作曲家页面使用圆角头像样式*/
.cardContent-round.defaultCardBackground {
    border-radius: 10em;
}

/*【节目界面】【桌面模式】媒体选中状态添加边框样式*/
.card-hoverable.focusable:hover .cardOverlayContainer {
    transition: opacity 0ms ease-in-out;
    box-shadow: 0 0 0 0.27em hsl(var(--theme-primary-color-hue), var(--theme-primary-color-saturation), var(--theme-primary-color-lightness)) !important;
}

/*【节目界面】修复音乐媒体库界面边框异常*/
.squareCard .cardOverlayContainer {
    transform: scale(0.957);
    border-radius: 0;
}

.bannerCard .cardOverlayContainer {
    transform: scale(1);
    border-radius: 0;
}

.detailImageContainer.detailImageContainer-main .cardOverlayContainer,
.osdRemoteControlImageCardBox .cardOverlayContainer {
    transform: scale(1);
}

.flex-direction-column.darkContentContainer {
    --button-background-alpha: 0.4;
}

/*【节目界面】【电视模式】媒体选中状态添加边框样式*/
.layout-tv .card:focus>.cardBox-focustransform .cardContent.coveredImage {
    border: 0.3em solid;
    color: hsl(var(--theme-primary-color-hue),
            var(--theme-primary-color-saturation),
            var(--theme-primary-color-lightness));
}

/*【节目界面】【桌面模式】媒体选中状态添加边框和颜色*/
.scrollY .card:focus .cardContent-bxsborder {
    box-shadow: 0 0 0 0.27em hsl(var(--theme-primary-color-hue), var(--theme-primary-color-saturation), var(--theme-primary-color-lightness)) !important;
}

/*【节目界面】【电视模式】媒体选中状态添加边框和颜色*/
.scrollY .card:focus-visible .cardContent-bxsborder-fv {
    box-shadow: 0 0 0 0.27em hsl(var(--theme-primary-color-hue), var(--theme-primary-color-saturation), var(--theme-primary-color-lightness)) !important;
}

/*【节目界面】【电视模式】优化媒体库最近栏目的显示样式*/
.layout-tv .suggestions.padded-bottom-page .sectionTitle-cards {
    margin-top: 3em;
}

.secondaryText.focusPreviewOverview,
.readOnlyContent {
    -webkit-line-clamp: 3;
    max-width: 90ch !important;
}

/*【节目界面】媒体类型标签链接自动换行样式*/
.focusable .mediaInfoItem:last-child {
    width: 100%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0.2em;
}

/*【节目界面】媒体库影评指数样式修复*/
.mediaInfoItem.mediaInfoCriticRating {
    width: max-content;
}

/*【节目界面】媒体类型样式调整并添加外边框*/
.mediaInfoItem a {
    box-shadow: rgba(255, 255, 255, 0.4) 0 0 0 2px;
    font-size: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 2px 8px;
    border-radius: 1em;
}

/*【节目界面】媒体类型添加底色背景样式*/
@media all and (min-width: 50em) {
    .darkContentContainer-item .mediaInfoItem a {
        background: rgba(115, 115, 115, 0.5);
        backdrop-filter: blur(1.5em) saturate(1.8);
    }

    .mediaInfoItem .emby-button-focusscale:focus {
        background: rgba(255, 255, 255, 1);
    }
}

/*【节目界面】版本、视频、音频、字幕信息自动换行和对齐样式*/
/* @media all and (min-width: 80em) {
  .noScrollY .trackSelections,
  .selectContainer .selectSource .selectVideoContainer .selectAudioContainer .selectSubtitlesContainer {
    width: 24em;
  }
  .noScrollY,
  .layout-tv .trackSelections,
  .selectContainer .selectSource .selectVideoContainer .selectAudioContainer .selectSubtitlesContainer {
    width: auto;
  }
  .selectLabel,
  .selectSource.detailTrackSelect,
  .selectVideo.detailTrackSelect,
  .selectAudio.detailTrackSelect,
  .selectSubtitles.detailTrackSelect {
    margin-top: 0.8em;
  }
} */
/*【节目界面】播放器控件按钮添加底色背景样式*/
@media all and (min-width: 50em) {

    .darkContentContainer-item .detailTrackSelect,
    .darkContentContainer-item .detailButton {
        background: rgba(115, 115, 115, 0.5);
        backdrop-filter: blur(1.5em) saturate(1.8);
        border-radius: 5em !important;
    }

    .emby-button-focusscale:focus {
        background: var(--theme-primary-color);
    }

    .detailButton {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
}

/*【节目界面】隐藏主页面和导航栏预告片控件按钮*/
.detailButtons.mainDetailButtons .btnPlayTrailer {
    display: none
}

.tabs-viewmenubar-slider.emby-tabs-slider.scrollSliderX .emby-tab-button[data-index="3"] {
    display: none
}

/*【节目界面】爱心控件按钮使用全局主题色调*/
.detailButton-autotext-icon.ratingbutton-icon-withrating,
.cardOverlayButton-hover.ratingbutton-icon-withrating,
.dataGridItemCell.ratingbutton-icon-withrating,
.listViewUserDataButton.ratingbutton-icon-withrating {
    color: hsl(var(--theme-primary-color-hue),
            var(--theme-primary-color-saturation),
            var(--theme-primary-color-lightness)) !important;
}

/*【节目界面】数据库链接、标签、拆分版本按钮添加底色背景样式*/
@media all and (min-width: 50em) {

    .darkContentContainer-item .itemLinks .item-tag-button,
    .darkContentContainer-item .itemTags .item-tag-button,
    .darkContentContainer-item .splitVersionContainer .btnSplitVersions {
        background: rgba(115, 115, 115, 0.3);
        backdrop-filter: blur(1.5em) saturate(1.8) !important;
        box-shadow: rgba(255, 255, 255, 0.4) 0 0 0 2.3px;
        border-radius: 30px;
        color: #fff;
        font-size: 0.93em;
        margin-right: 1em;
    }
}

/*【节目界面】媒体源信息和演职人员添加底色背景样式*/
@media all and (min-width: 50em) {

    .darkContentContainer-item .defaultCardBackground.cardPadder-portrait,
    div.mediaStreamPadder,
    div.mediaStreamPadder-tv {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        background: rgba(115, 115, 115, 0);
    }

    .darkContentContainer-item.cardOverlayContainer .defaultCardBackground {
        backdrop-filter: blur(0.9em);
    }
}

/* 播放界面---------------------------------------------------------------------- */
/*【播放界面】播放器使用网页端横屏风格并修复控件异常和调整控件大小*/
@media not all and (pointer: fine) {

    .videoOsdBottom-buttons,
    .videoOsd-centerButtons-autolayout,
    .videoOsd-btnPause-autolayout {
        position: inherit !important;
        margin-top: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        font-size: inherit !important;
    }
}

/*【播放界面】播放器调整横屏竖屏时的控件按钮大小*/
@media all and (min-width: 20em) and (max-width: 25em) {

    .videoOsdBottom-buttons,
    .videoosd-transportbuttons.videoOsdBottom-buttons-right {
        font-size: 0.9em !important;
        margin-bottom: 0.5em;
    }
}

@media all and (min-width: 40em) and (max-width: 66em) {

    .videoOsdBottom-buttons,
    .videoosd-transportbuttons.videoOsdBottom-buttons-right {
        font-size: 1.2em !important;
        margin-bottom: 0.5em;
    }
}

.videoOsdBottom-buttons-remotecontrol {
    font-size: 1.5em !important;
}

/*【播放界面】播放器调整远程控制投屏播放控件样式*/
@media all and (max-width: 50em) {
    .videoOsdBottom-buttons.videoOsdBottom-buttons-remotecontrol .videoosd-transportbuttons {
        font-size: 0.8em;
    }

    .videoosd-transportbuttons.videoOsdBottom-contentbuttons.videoOsd-customFont.videoOsd-customFont-remotecontrol {
        font-size: 0.9em;
    }

    .noScrollY.accent-emby:not(.transparentDocument) .btnSkipIntro.raised-backdropfilter.videoOsd-customFont {
        bottom: 4.7em;
        font-size: 1em;
    }
}

/*【播放界面】播放器顶部控件增加立体感阴影*/
.videoOsdHeader.headerTop {
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 1));
}

/*【播放界面】播放器顶部背景条透明度*/
.skinHeader.semiTransparent.headroom-scrolling::before {
    opacity: 0;
}

/*【播放界面】播放器底部控件增加立体感阴影*/
.videoOsdBottom-maincontrols {
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.75));
    -moz-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.75));
}

/*【播放界面】播放器底部背景条透明度*/
.videoOsdBottom.videoOsdBottom-video {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

/*【播放界面】播放器底部缓冲条透明度*/
.emby-slider-background .emby-slider-background-inner {
    background: rgb(255 255 255 / 0%);
}

/*【播放界面】播放器底部章节导航栏靠左对齐*/
.videoosd-tabsContainer .videoOsdBottom-tabs {
    justify-content: flex-start;
}

/*【播放界面】播放器底部章节导航栏文字样式和颜色*/
.videoOsdBottom-tabs .videoosd-tabsslider .secondaryText {
    color: white;
    font-weight: 540;
}

/*【播放界面】播放器底部控件增加间距以防误触*/
@media all and (max-height: 40em) and (min-width: 30em) and (hover: none) {
    .videoOsdBottom-buttons .md-icon {
        margin-left: 0.23em;
        margin-right: 0.23em;
    }
}

@media not all and (pointer: fine) {
    .videoOsd-customFont {
        margin-bottom: 0.7em;
    }
}

/*【播放界面】播放器底部章节背景提高透明度*/
.videoosd-padded-left.videoosd-padded-right .cardContent-bg-black {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/*【播放界面】播放器底部信息栏背景提高透明度*/
.videoosd-tabcontainers .videoosd-tabBackground {
    background-color: rgba(0, 0, 0, 0.3);
}

/*【播放界面】播放器底部信息栏简介文字颜色*/
.videoosd-info-overview.secondaryText {
    color: white;
}

/*【播放界面】播放器底部过长的标题名和剧集名截断不换行*/
.videoOsdText .videoOsdParentTitle:not(.videoOsdParentTitle-small) {
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.videoOsdText .videoOsdTitle:not(.secondaryText) {
    max-width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*【播放界面】播放器底部标签页栏适当缩小*/
@media not all and (min-height: 30rem) and (min-width: 60rem) {
    .videoosd-tabcontainers {
        font-size: 60%;
    }

    .videoosd-tab.videoosd-itemstab.videoosd-activetab[data-index="1"] {
        font-size: 90%;
    }

    .videoosd-tab.videoosd-itemstab.videoosd-activetab[data-index="2"] {
        font-size: 90%;
    }

    .videoosd-tab.videoosd-itemstab.videoosd-activetab[data-index="3"] {
        font-size: 98%;
    }

    .videoosd-tab.videoosd-guidetab.videoosd-activetab[data-index="4"] {
        font-size: 120%;
    }

    .videoosd-info {
        line-height: 1.2;
        font-size: 153%;
    }

    .videoosd-tab.videoosd-itemstab.videoosd-activetab[data-index="1"] .cardText.cardTextCentered,
    .videoosd-tab.videoosd-itemstab.videoosd-activetab[data-index="2"] .cardText.cardTextCentered,
    .videoosd-tab.videoosd-itemstab.videoosd-activetab[data-index="3"] .cardText.cardTextCentered,
    .videoosd-tab.videoosd-guidetab.videoosd-activetab[data-index="4"] {
        font-size: 160%;
    }
}